@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    --gw: 4vw;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased; /* for safari & chrome */
    -moz-osx-font-smoothing: grayscale; /* for firefox */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }

  body {
    @apply bg-background text-foreground;
    scrollbar-gutter: stable;
    text-rendering: optimizeLegibility;
  }

  ::selection {
    @apply bg-primary text-white;
  }

  img,
  picture,
  video,
  svg {
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
  }

  img,
  a {
    user-select: none;
    -webkit-user-drag: none;
  }

  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}

// @layer components {
//   .mask {
//     @apply absolute top-0 flex h-full w-full cursor-default items-center justify-center;
//     mask-image: url('../../public/mask.svg');
//     mask-repeat: no-repeat;
//     mask-size: 40px;
//     background: #ec4e39;
//     position: absolute;
//     color: black;
//   }
// }

@layer utilities {
  .auto-grid {
    --min-column-size: 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
  }
}

@layer components {
  :root {
    --duration: 0.5s;
    --delay: 0.2s;
  }
  // Single link
  .link-single {
    @apply relative inline-block w-fit leading-relaxed;

    &:after {
      @apply absolute bottom-0 left-0 block h-px w-full bg-primary content-none;
      transition:
        transform var(--duration) ease,
        background-color var(--duration) ease;
      transform-origin: 100% 50%;
      transform: scaleX(0);
    }
  }

  .link-single:hover:after,
  a:hover .link-single:after,
  .link-single[aria-current='true']:after,
  .a[aria-current='true'] .link-single:after,
  .link-single:focus-visible:after,
  a:focus-visible .link-single:after {
    transform-origin: 0 50%;
    transform: scaleX(1);
  }

  // Multi link
  .link-multi {
    @apply bg-gradient-to-r from-primary to-primary bg-no-repeat pb-0 leading-relaxed transition-[background-size,color] duration-500;
    background-size: 0 1px;
    background-position: 100% 100%;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    &:hover,
    &:focus-visible {
      background-size: 100% 1px;
      background-position: 0 100%;
      box-decoration-break: slice;
      -webkit-box-decoration-break: slice;
    }
  }

  // Double link
  .link-double {
    --delay: 0.2s;
    @apply relative inline-block w-fit leading-relaxed;

    &:before {
      @apply absolute bottom-0 left-0 block h-px w-full bg-primary/40 content-none;
      transition:
        transform var(--duration) var(--delay),
        background-color var(--duration);
      transform-origin: 0 50%;
      transform: scaleX(1);
    }

    &:after {
      @apply absolute bottom-0 left-0 block h-px w-full bg-primary content-none;
    }
  }

  .link-double:after,
  .link-double:hover:before,
  a:hover .link-double:before,
  button:hover .link-double:before,
  .link-double:focus-visible:after,
  a:focus-visible .link-double:before,
  button:focus-visible .link-double:before {
    transition:
      transform var(--duration),
      background-color var(--duration);
    transform-origin: 100% 50%;
    transform: scaleX(0);
  }

  .link-double:hover:after,
  a:hover .link-double:after,
  button:hover .link-double:after,
  .link-double:focus-visible:after,
  a:focus-visible .link-double:after,
  button:focus-visible .link-double:after {
    transition:
      transform var(--duration) var(--delay),
      background-color var(--duration);
    transform-origin: 0 50%;
    transform: scaleX(1);
  }
}
